<div *ngIf="station" [class.active]="(currentSource$ | async)?.stationName === station.stationName"
     class="stub-stations__item">
  <div class="stub-stations__link">
    <img [src]="station.stationThumbnailUrl" class="stub-stations__item">
    <span class="stub-stations_name">{{station.stationPlayerName}}</span>
  </div>
  <button (click)="onPlay(station)" class="stub-stations__play stub-button__play">Play</button>

  <ng-container *ngIf="(currentSource$ | async)?.stationName === station.stationName">
    <span *ngIf="isPlayerPlay$ | async" class="stub-now-playing">Now playing</span>
  </ng-container>
</div>
