<div class="footer-player">
  <app-player class="footer-player__wrapper" *ngIf="isBrowser" [source]="currentSource$ | async"
              (updateStationInfo)="onUpdateStationInfo($event)">
    <div *ngIf="currentTrack$ | async  as currentTrack">
      <div>
        <ng-container *ngIf="(currentSource$ | async)?.stationName as stationName">
          {{stationName}}
        </ng-container>
      </div>
      <div>
        <span>Currently Playing</span>
        <span>{{currentTrack.trackTime | trackTime}}</span>
      </div>
      {{currentTrack.title}}, {{currentTrack.artist}}
    </div>
  </app-player>
</div>
