<button class="player-btn" [disabled]="!station" (click)="playHandler($event)">

  <img class="player-btn--spinner" [class.hide]="!loading" src="assets/images/spinner.gif"
       (click)="loadingClickHandler($event)" alt="spinner">

  <ng-container *ngIf="playing; else playIcon">
    <ng-container *ngTemplateOutlet="stopIcon"></ng-container>
  </ng-container>
</button>

<div class="player-container" [id]="id"></div>

<ng-template #playIcon>
  <svg class="play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 65">
    <circle cx="32.5" cy="32.5" r="31.5" style="fill:none;stroke-miterlimit:10;stroke-width:2px"></circle>
    <path d="M25.33,23.42c0-1.1.61-1.55,1.57-1L43,31.75c1,.55.91,1.45,0,2l-16,9.33c-1,.55-1.59.1-1.59-1Z"></path>
  </svg>
</ng-template>

<ng-template #stopIcon>
  <svg class="stop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 65">
    <rect x="22.46" y="22.69" width="20.08" height="19.62" rx="2" ry="2"></rect>
    <circle cx="32.5" cy="32.5" r="31.5" style="fill:none;stroke-miterlimit:10;stroke-width:2px"></circle>
  </svg>
</ng-template>

<ng-content></ng-content>
<app-volume-control (changeVolume)="onChangeVolume($event)"></app-volume-control>
